
{% extends './base/base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}

{% include './base/navigation.html' %}

    <h3 style="padding: 5px;" id="chatroom_title"> {{room_name}} Live Chat Room</h3>

    <textarea id="chat-log" cols="30" rows="10"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    {{ username|json_script:"username" }}
    {{ auth_group|json_script:"auth_group" }}
    <script src="{% static 'js/chat.js' %}"></script>
{% endblock %}