{% extends './base/base.html' %}
{% load django_bootstrap5 %}

{% block content %}

{% include './base/navigation.html' %}
<div class="row">
    <div class="col-12">
        <div class="page-section">
            <h2>Search</h2>
            <div>
                <form method="GET" action="/courselist/">
                    <div class="form-group">
                        <label for="search">Find a course: </label>
                        <input type="text" class="form-control" id="search" name="search" placeholder="Enter a module code or course name">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Find</button>
                </form>
                <br>
            </div>
            <hr>

            <h2>Course Catalogue</h2>
            <div class="course-list">
                {% if courses %}
                <table class="table">
                    <th>Module Code</th>
                    <th>Title</th>
                    <th>Actions</th>
                    {% for course in courses %}
                    <tr>
                        <td>{{ course.module_code }}</td>
                        <td>{{ course.title }}</td>
                        <td>
                                {% if user_profile.is_instructor or course in courses_enrolled %}
                                <a class="btn btn-dark" href="/course/{{course.id}}">View course</a>
                                {% else %}
                                <a class="btn btn-primary" href="/enroll/{{course.id}}">Enrol</a>
                                {% endif %}
                            </td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <p>No courses added yet.</p>
                {% endif %}
            </div>
        </div>
    </div>
    {% endblock %}