{% extends './base/base.html' %}
{% load django_bootstrap5 %}

{% block content %}

{% include './base/navigation.html' %}

<div class="row">
    <div class="col-8">
        <div class="course-title-section">
            <h2>{{course.module_code}} ({{course.title}})</h2>
            {%if user_profile.is_student%}<a class="btn-blue" href="/feedback/{{course.id}}">Leave a Feedback</a>{% endif %}
            {%if user_profile.is_student%}<a class="btn-red btn-danger" href="/unenroll/{{course.id}}/{{user.id}}">Withdraw From Course</a>{% endif %}
            {%if user_profile.is_instructor %}<a class="btn btn-red btn-danger" href="/removecourse/{{course.id}}">Delete Course</a>{% endif %}
        </div>
        <div class="page-section faded-background">
            <!-- assignment list -->
            <div class="heading-with-button">
                <h3>Assignments</h3>
                {% if user_profile.is_instructor %} <a class="btn-yellow" href="/course/{{course.id}}/newassignment">+ Assignment</a>{% endif %}
            </div>
            {% if assignments %}
            <table class="table">
                <th style="width:8%">S/N</th>
                <th style="width:32%">Assignment</th>
                <th style="width:20%">Start Date</th>
                <th style="width:20%">Due Date</th>
                {%if user_profile.is_instructor %}<th style="width:10%">Action</th>{% endif %}
                {% for assignment in assignments %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{assignment}}</td>
                    <td>{{assignment.startdate}}</td>
                    <td>{{assignment.deadline}}</td>
                    {%if user_profile.is_instructor %}<td><a style="color:rgb(236, 84, 84)" href="/deleteassignment/{{course.id}}/{{assignment.id}}">Delete</a></td>{% endif %}
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>No assignments added yet.</p>
            {% endif %}
        </div>
        <div class="page-section faded-background">

            <!-- Course Materials -->
            <div class="heading-with-button">
                <h3>Materials</h3>
                {% if user_profile.is_instructor %}<a class="btn-yellow" href="/course/{{course.id}}/newmaterial">+ Material</a>{% endif %}
            </div>
            {% if materials %}
            <table class="table">
                <th style="width:8%">S/N</th>
                <th style="width:82%">Material</th>
                {%if user_profile.is_instructor %}<th style="width:10%">Action</th>{% endif %}
                {% for material in materials %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><a href="{{material.file.url}}" target="_blank">{{material}}</a></td>
                    {%if user_profile.is_instructor %}<td><a style="color:rgb(236, 84, 84)" href="/deletematerial/{{course.id}}/{{material.id}}">Delete</a></td>{% endif %}
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>No materials uploaded yet.</p>
            {% endif %}
        </div>

        <!-- Feedback section visible to instructors lists all -->
        {% if user_profile.is_instructor %}
        <div class="page-section faded-background">
            <div class="heading-with-button">
                <h3>Feedback Received</h3>
            </div>
            {% if feedbacks %}
            <table class="table">
                <th style="width:8%">S/N</th>
                <th style="width:72%">Feedback</th>
                <th style="width:20%">Submitted Time</th>
                {% for feedback in feedbacks %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{feedback}}</a>
                    <td>{{feedback.timestamp}}</td>
                    </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>No feedbacks received yet.</p>
            {% endif %}
        </div>
        {% endif %}

        <!-- Feedback section visible to student lists only feedback they have shared -->
        {% if user_profile.is_student %}
        <div class="page-section faded-background">
            <div class="heading-with-button">
                <h3>Feedback Shared</h3>
            </div>
            {% if feedbacks_shared %}
            <table class="table">
                <th style="width:8%">S/N</th>
                <th style="width:72%">Feedback</th>
                <th style="width:20%">Submitted Time</th>
                {% for feedback in feedbacks_shared %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{feedback}}</a>
                    <td>{{feedback.timestamp}}</td>
                    </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>No feedbacks shared yet.</p>
            {% endif %}
        </div>
        {% endif %}

    </div>
    <div class="col-4">
        <div class="page-section side-section">
            <div class="heading-with-button">
                <h3>People</h3>
                <!-- go to livechat room with roomname = modulecode -->
                <a class="btn-blue" href="/chat/{{course.module_code}}">Live Chat</a>
            </div>
            <div>
                <p><em><strong>Instructor:</strong> {{course.instructor.user.get_full_name}}</em></p>
                <!-- student list -->
                <!-- Functionality to search students from table -->
                <table class="table faded-background">
                    <!-- check size of the students list -->
                    <th>{% if user_profile.is_student and students|length > 1%}Classmates
                        {% elif user_profile.is_student and students|length == 1%}No classmates found.
                        {% elif user_profile.is_instructor and students|length >= 1%}Students Enrolled
                        {% elif user_profile.is_instructor and students|length == 0%}No students enrolled yet.
                        {% endif %}</th>
                    <!-- Action only for instructors -->
                    {% for student in students %}
                    <!-- exclude user from list of students -->
                    {% if student.user != user %}
                    <tr>
                        <!-- add link to remove student for teachers -->
                        <td><a href="/profile/{{student.user.id}}">{{student.user.get_full_name}}</a> 
                            {% if user_profile.is_instructor %}(<a style="color:rgb(236, 84, 84)" href="/unenroll/{{course.id}}/{{student.user.id}}">remove</a>){% endif %}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>
</div>


{% endblock %}