{% extends './base/base.html' %}
{% load django_bootstrap5 %}

{% block content %}

{% include './base/navigation.html' %}
<div class="row">
    <div class="col-9">
        <div class="home-section profile-section">
            <h2>Student</h2>
            <div class="profile">
                <image src="https://via.placeholder.com/150" alt="Profile Picture">
                    <div class="profile-info">
                        <p><strong>Full Name: </strong>Shamie Jegan</p>
                        <p><strong>Email Address: </strong><a class="link-on-black" href="mailto:{{user_email}}">sample@user.com</a></p>
                        <br>
                        <a class="btn-yellow" href="/">Start Chat</a>
                    </div>
                </div>

        </div>
        <div class="home-section course-section">
            <div class="courselist-heading">
                <h2>Courses</h2>
                <a class="btn-yellow" href="/">Add Course</a>    
            </div>
            <table class="table">
                <th>Course Name</th>
                <th>Course Description</th>
                <th>Deadlines</th>
                <tr>
                    <td><a href="/">Sample Course</a></td>
                    <td>Sample Course Description</td>
                    <td>
                        <ul>
                            <li>Assignment 1 - 10/10/2022</li>
                            <li>Assignment 2 - 10/10/2022</li>
                            <li>Assignment 3 - 10/10/2022</li>
                        </ul>
                    </td>
                </tr>
                {% for course in courses_enrolled %}
                <tr>
                    <td><a href="/course/{{ course.id }}"></a>{{ course.course_name }}</a></td>
                    <td>{{ course.course_description }}</td>
                    <td>
                        <ul>
                            {% for deadline in course.deadlines %}
                            <li>{{ deadline }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <!-- else if courses_enrolled !>1 -->
            <p>You have not registered for any courses. You will see your courses here once you have been registered.
            </p>
            <!-- end if courses_enrolled >1 -->
            <!-- end if student -->

        </div>

    </div>
    <div class="col-3">
        <div class="home-section staus-section">
            <h2>Status Updates</h2>
            <form action="/" method="post">
                <textarea name="status" id="status" cols="30" rows="10"></textarea>
                <button type="submit">Post</button>
                {% if status_updates %}
                <div>
                    <h3>Previous Status</h3>
                    {% for status_update in status_updates %}
                    <p>{{ status_update.status }}</p>
                    <p>{{ status_update.timestamp}}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}