{% extends './base/base.html' %}
{% load django_bootstrap5 %}

{% block content %}

{% include './base/navigation.html' %}
<div class="row">
    <div class="col-8">
        <div class="page-section">
            <div class="heading-with-button">
                <h2>About Me</h2>
            </div>

            <div class="profile">
                <div class="profile-picture">
                    {% if user_profile.photo %}
                    <img src="{{user_profile.photo.url }}" alt="Profile Picture">
                    {% else %}
                    <img src="../../static/images/default_user.png" alt="Profile Picture">
                    {% endif %}
                    <p><a href="/change-photo/" style="font-weight: normal;">Change Photo</a></p>
                </div>
                <div class="profile-info">
                    <p><strong>Account Type: </strong>{% if user_profile.is_student %}Student{% else %}Instructor{% endif %}</p>
                    <p><strong>Full Name: </strong>{{user.first_name}} {{user.last_name}}</p>
                    <p><strong>Email Address: </strong>{{user.email}}</p>
                    <p><strong>Status: </strong>
                        <span
                            class="status-icon {% if user.is_active %}status-active{% else %}status-deactivated{% endif %}"></span>
                        <em>{% if user_profile.status %}{{user_profile.status}}{% else %}-{% endif %} </em> (<a
                            href="/update-status/" style="font-weight: normal;">Update Status</a>)
                    </p>
                    <br>
                </div>
            </div>

        </div>
        <div class="page-section faded-background">
            {% if user_profile.is_student %}
            <div class="heading-with-button">
                <h2>Enrolled Courses</h2>
                <a class="btn-yellow" href="courselist">+ Enrol</a>
            </div>
            {% if courses_enrolled %}
            <table class="table">
                <th>Module Code</th>
                <th>Title</th>
                <th>Teacher</th>
                {% for enrolled in courses_enrolled %}
                <tr>
                    <td><a href="/course/{{enrolled.id}}">{{ enrolled.module_code }}</a></td>
                    <td>{{ enrolled.title }}</td>
                    <td><a href="/profile/{{enrolled.instructor.user.id}}">{{enrolled.instructor.user.get_full_name}}</a></td>
                </tr>
                {% endfor %}
                {% else %}
                <p>You have not registered for any courses. You will see your courses here once you have been
                    registered.</p>
                {% endif %}
                {% endif %}
                {% if user_profile.is_instructor %}
                <div class="heading-with-button">
                    <h2>My Courses</h2>
                    <a class="btn-yellow" href="newcourse">+ Create</a>
                </div>
                {% if courses_taught %}
                <table class="table">
                    <th>Module Code</th>
                    <th>Title</th>
                    {% for taught in courses_taught %}
                    <tr>
                        <td><a href="/course/{{taught.id}}">{{ taught.module_code }}</a></td>
                        <td>{{ taught.title }}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <p>You have not created any courses. You will see your courses here once you have created a course.
                    </p>
                    {% endif %}
                    {% endif %}
                </table>
        </div>
    </div>

    <div class="col-4">
        <div class="page-section side-section">
            <h2>Notifications</h2>
            <!-- if not notifications are received, just show no notifications message  -->
            {% if not notifications %}
            <div class="faded-background">
                <p>There are no notifications at the moment.</p>
            </div>
            <!-- otherwise loop through each notification and add details to each block -->
            {% else %}
            {% for notification in notifications %}
            <!-- only show notifications that have not been read -->
            {% if not notification.read_status %}
            <div class="faded-background">
                <!-- small cross button at top right corner -->
                <div class="row">
                    <div class="col-10">
                        <p class="notification-date">{{notification.timestamp}}</p>
                    </div>
                    <div class="col-2">
                        <p class="notification-close-button"><a href="/mark-as-read/{{notification.id}}" >X</a></p>
                    </div>
                </div>
                <p>{{notification.about_course}}: {{notification.type}}</p>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %} 
        </div>
    </div>
</div>
{% endblock %}