{% extends './base/base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="login-section">
    <h2>Login</h2>
    <form id="login-form" action="/login/" method="post">
        {% csrf_token %}
        Email: <input type="email" name="email" required/><br />
        Password: <input type="password" name="password" required/><br />
        <input type="submit" name="submit" value="Login" class="btn-yellow" />
    </form>
    {% if error %}
    {% bootstrap_messages %}
    <div class="alert alert-warning" role="alert">
        {{ error }}        
    </div>
    {% endif %}

    <p>Don't have an account? <a href="/register">Register</a></p>
</div>
{% endblock %}