{% extends './base/base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="form-section">
    <h2>Login</h2>
    <form id="login-form" action="/login/" method="post" >
        {% csrf_token %}
        <label>Email: </label><input type="email" name="email" required style="width:100%;"/><br />
        <label>Password: </label><input type="password" name="password" required style="width:100%;"/><br />
        <button type="submit" name="submit" class="btn-yellow" style="width:100%; margin-top:15px;">Login</button>
    </form>
    {% if error %}
    {% bootstrap_messages %}
    <div class="alert alert-warning" role="alert">
        {{ error }}        
    </div>
    {% endif %}

    <p style="text-align: center;">Don't have an account? <a href="/register">Register</a> instead.</p>
</div>
{% endblock %}