{% extends './base/base.html' %}

{% block content %}
<!-- login page -->
<div class="login-section">
    <h2>Login</h2>
    <form action="/login" method="post">
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required> 
        </div>
        <button type="submit" class="btn-yellow">Login</button>
    </form>
    <p>Don't have an account? <a href="/register">Register</a></p>
</div>

{% endblock %}