{% extends './base/base.html' %}
{% load django_bootstrap5 %}

{% block content %}

{% include './base/navigation.html' %}
<div class="form-section">
    <h2>Upload Material for {{ course.module_code }}</h2>
    <p><a href="/course/{{course.id}}"> &lt; Back to Course</a></p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Upload</button>
        <!-- catch errors -->
        {% if form.errors %}
        <div class="alert alert-warning"><p>The following errors have been detected in your submission:</p>{{ form.errors }}</div>
        {% endif %}
    </form>
</div>

{% endblock %}
