{% extends './base/base.html' %}
{% load django_bootstrap5 %}

{% block content %}

{% include './base/navigation.html' %}

<div class="row">
    <div class="col-12">
        <div class="page-section">
            <div class="heading-with-button">
                <h2>{%if other_user_profile.is_student%}Student{% elif other_user_profile.is_instructor %}Teacher{%endif%}</h2>
            </div>

            <div class="profile">
                {% if other_user_profile.photo %}
                <img src="{{ other_user_profile.photo.url }}" alt="Profile Picture">
                {% else %}
                <img src="../../static/images/default_user.png" alt="Profile Picture">
                {% endif %}
                <div class="profile-info">
                    <p><strong>Full Name: </strong>{{ user.first_name }} {{ user.last_name }}</p>
                    <p><strong>Email Address: </strong>{{ user.email }}</p>
                    <p><strong>Status: </strong>
                        <span class="status-icon {% if user.is_active %}status-active{% else %}status-deactivated{% endif %}"></span>
                        <em>{% if other_user_profile.status %}{{ other_user_profile.status }}{% else %}-{% endif %}</em>
                    </p>
                    <br>
                </div>
            </div>
            
        </div>
        <div class="page-section faded-background">
            {% if other_user_profile.is_student %}
            <div class="heading-with-button">
                <h3>I am learning...</h3>
            </div>
                {% if other_courses_enrolled %}
                <table class="table">
                    <th>Module Code</th>
                    <th>Title</th>
                    {% for enrolled in other_courses_enrolled %}
                    <tr> 
                        <td>{{ enrolled.module_code }}</td>
                        <td>{{ enrolled.title }}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                <p>You have not registered for any courses. You will see your courses here once you have been registered.</p>
                {% endif %}
            {% endif %}
            {% if other_user_profile.is_instructor %}
            <div class="heading-with-button">
                <h3>I am teaching...</h3>
            </div>
                {% if other_courses_taught %}

                <table class="table">
                    <th>Module Code</th>
                    <th>Title</th>
                    {%if user_profile.is_student %}<th>Actions</th>{% endif %}
                    {% for taught in other_courses_taught %}
                    <tr>
                        <!-- if the requester is a student, check if they have been enrolled to the course -->
                        {% if user_profile.is_student %}
                            {% if taught in enrolled_courses %}
                            <td><a href="/course/{{taught.id}}">{{ taught.module_code }}</a></td>
                            <td>{{ taught.title }}</td>
                            <td>You are already enrolled in this course.</td>
                            <!-- if the requester is a student that has not been enrolled-->
                            {% else %}
                            <td>{{ taught.module_code }}</td>
                            <td>{{ taught.title }}</td>
                            <td><a href="/enroll/{{taught.id}}" class="btn btn-primary">Enroll</a></td>                            
                            {% endif %}
                        {% else %}
                        <td>{{ taught.module_code }}</td>
                        <td>{{ taught.title }}</td>
                        {% endif %}
                    {% endfor %}
                    {% else %}
                    <p>You have not created any courses. You will see your courses here once you have created a course.
                    </p>
                    {% endif %}
                    {% endif %}
                </table>
        </div>

    </div>
</div>
{% endblock %}