/* color pallets: #0275d8, $5cb85c, #5bc0de, #f0ad4e, #d9534f, #292b2c, #f7f7f7 */
body {
    margin:0px; 
    padding: 0px;
    background-color: #f7f7f7;
}

.header {
    background: #292b2c;
    color: #f7f7f7;
    padding: 30px;
    text-align: center;
}
.footer {
    background: #292b2c;
    color: #f7f7f7;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}


#application-title {
    font-size: 32px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
#application-logo {
    width: 40px;
    height: 40px;
}


.nav-bar {
    background: #f0ad4e;
    padding:5px;
    color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    text-align: right;
}
.nav-bar a {
    color: #292b2c;
    text-decoration: none;
    margin: 10px 20px 10px 20px;
    font-size: 16px;
    font-weight: bold;
}
.nav-bar a:hover {
    border-bottom: #292b2c 2px solid;
}
#logout {
    color: #c70021;
}


.content {
    background-color: #f7f7f7;
    color: #292b2c;
    margin-bottom: 100px;
    min-height:80vh;
}

.home-section {
    margin:15px;
    padding: 20px;
}

.profile-section {
    border-radius: 10px;
    background-color: #292b2c;
    color: #f7f7f7;
}
.profile {
    display: flex;
}
.profile img { 
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.profile-info {
    margin-left: 20px;
}	
.link-on-black {
    color: #5bc0de;
    text-decoration: none;
}
.link-on-black:hover {
    text-decoration: underline;
}

.homepage-heading {
    display: flex;
    justify-content: space-between;
}

.status-section {
    margin:0px;
    border-left: #AAA 2px solid;
    height: 100%;
    min-height: 80vh;
}

.form-section {
    justify-content: center;
    width:500px;
    max-width: 90vw;
    margin: 10px auto;
    height: 100%;
    border-radius: 10px;
    border: #AAA 2px solid;
    padding: 20px;
}
.form-section label {
    display: inline-block;
    width: 150px; 
}

.form-section input {
    width: 300px;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 5px;
    border: #AAA 1px solid;
}

.profile-update label {
    width: 100%;
    font-weight: bold;
}
.profile-update input {
    width: 100%;
}
label[for="photo-clear_id"] {
    width: auto;
}
input[id="photo-clear_id"] {
    width: auto;
    margin-right: 5px;
}
.profile-update a {
    display: flex;
    flex-direction: column;
    width:100%
}

/* Style for the Currently link */
.profile-update a.currently-link {
    margin-right: 10px; /* Add some spacing to the right */
}

/* Style for the Clear checkbox */
.profile-update input#photo-clear_id {
    margin-right: 5px; /* Add some spacing to the right */
}

/* Style for the Change input */
.profile-update input#id_photo {
    margin-top: 5px; /* Add some margin at the top */
}

.btn-yellow {
    background-color: #f0ad4e;
    color: #292b2c;
    border: none;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-bottom: 10px;
}
.login-section .btn-yellow {
    width: 100%;
}

.status-icon {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: #5cb85c;
}

.status-active {
    background-color: #5cb85c;
}
.status-deactivated {
    background-color: #d9534f;
}